<h1>Machinery Inventory</h1>

<mat-table [dataSource]="machinery">

    <ng-container matColumnDef="machineName">
        <mat-header-cell *matHeaderCellDef> Machine </mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{ machine.machineName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="machineDescription">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{ machine.description }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="machineReceptionDate">
        <mat-header-cell *matHeaderCellDef> Reception Date </mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{ machine.receptionDate | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="machineEndDate">
        <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{ machine.endDate | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="machineTotalCost">
        <mat-header-cell *matHeaderCellDef> Total Cost </mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{ machine.totalCost }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let machine">
            <button mat-icon-button (click)="openEditDialog(machine.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteDialog(machine.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="[ 'machineName', 'machineDescription', 'machineReceptionDate', 'machineEndDate', 'machineTotalCost', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: [ 'machineName', 'machineDescription', 'machineReceptionDate', 'machineEndDate', 'machineTotalCost', 'actions'];"></mat-row>
</mat-table>

<mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select a page of the machinery table"/>

<div class="btn-container">
    <button mat-raised-button class="btn-add-mac" (click)="openAddDialog()"> Add Machine </button>
</div>