.table-container {
  background-color: #B79A72;
}
.table-field {
  padding: 40px;
}
.list-title {

  margin-bottom: 20px;
}

.button-container {
  background-color: #B79A72;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.add-button {
  color: white !important;
  background-color: #FBC12E !important;
  cursor: pointer !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  justify-content: center !important;
}
