<h2>Add new worker</h2>

<mat-form-field>
  <input matInput placeholder="Worker name" [(ngModel)]="worker.fullName">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Team Id" [(ngModel)]="worker.teamId">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Worker role" [(ngModel)]="worker.role">
</mat-form-field>

<div>
  <button mat-raised-button color="primary" (click)="addWorker()">Add</button>
  <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
</div>
