/* Agrega tus estilos CSS según sea necesario para este componente */
.document-list {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.document-list h2 {
  margin-bottom: 10px;
}

.document-list ul {
  list-style-type: none;
  padding: 0;
}

.document-list li {
  margin-bottom: 5px;
}
