<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <div class  = "img-portal">
        <img src="https://i.postimg.cc/Kc5BRVf5/image-Brain-Wabe.png" alt=" "/>
    </div>
    <div class = "flex justify-content-center align-items-center h-full">
        <mat-card class="card" >
            <div class="field">
                <input
                        type = "text"
                        pInputText
                        formControlName="firstName"
                        class="w-full"
                        name="firstName"
                        placeholder="firstName"
                />
            </div>
            <div class="field">
                <input
                        type = "text"
                        pInputText
                        formControlName="lastName"
                        class="w-full"
                        name="lastName"
                        placeholder="lastName"
                />
            </div>
            <div class="field">
                <input
                        type = "text"
                        pInputText
                        formControlName="email"
                        class="w-full"
                        name="email"
                        placeholder="email"
                />
            </div>
            <div class="field">
                <input
                        type = "text"
                        pInputText
                        formControlName="phoneNumber"
                        class="w-full"
                        name="phoneNumber"
                        placeholder="phoneNumber"
                />
            </div>
            <div class="field">
                <input
                        type = "password"
                        pInputText
                        formControlName="password"
                        class="w-full"
                        name="password"
                        placeholder="password"
                />
            </div>
            <div class="field">
                <input
                        type = "password"
                        pInputText
                        formControlName="confirmPassword"
                        class="w-full"
                        name="confirmPassword"
                        placeholder="confirmPassword"
                />
            </div>
            <p-button
                    label = "Check In"
                    styleClass="w-full p-button-warning"
                    type = "submit"
            ></p-button>
            <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>

        </mat-card>
    </div>


</form>
