<h1> Add new material </h1>

<mat-form-field>
  <input matInput placeholder="Material name" [(ngModel)]="material.materialName">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Description" [(ngModel)]="material.description">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Reception Date" [(ngModel)]="material.receptionDate">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Amount" [(ngModel)]="material.amount">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Total Cost" [(ngModel)]="material.totalCost">
</mat-form-field>

<div>
  <button mat-raised-button color="primary" (click)="addMaterial()">Add</button>
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
</div>
