<div class="dialog-container">
    <h2 class="dialog-title">Add new document</h2>

    <form class="form-container" #documentForm="ngForm">
        <mat-form-field>
            <input matInput placeholder="Document name" [(ngModel)]="document.name" name="name" required>
            <mat-error *ngIf="documentForm.controls['name']?.invalid">Document name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" [(ngModel)]="document.description" name="description" required>
            <mat-error *ngIf="documentForm.controls['description']?.invalid">Description is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Created At" [(ngModel)]="document.createdAt" name="createdAt" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="documentForm.controls['createdAt']?.invalid">Date is required</mat-error>
        </mat-form-field>
    </form>

    <div class="file-input-container">
        <button mat-raised-button class="primary-button" (click)="fileInput.click()">Select File</button>
        <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
        <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
    </div>

    <div class="button-container">
        <button mat-raised-button class="secondary-button" (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button class="primary-button" (click)="addDocument()" [disabled]="!documentForm.valid">Add</button>
    </div>
</div>
