
<div class="add-dialog">

<h1> Add new machine </h1>


    <p>Machine Name</p>
<mat-form-field appearance="fill">
  <input matInput placeholder="Machine Name" [(ngModel)]="machine.machineName">
</mat-form-field>
    <p>Description</p>
<mat-form-field appearance="fill">
  <input matInput placeholder="Description" [(ngModel)]="machine.description">
</mat-form-field>
    <p>Reception Date</p>
<mat-form-field appearance="fill">
  <input matInput placeholder="Reception Date" [(ngModel)]="machine.receptionDate">
</mat-form-field>
    <p>End Date</p>
<mat-form-field appearance="fill">
  <input matInput placeholder="End Date" [(ngModel)]="machine.endDate">
</mat-form-field>
    <p>Total Cost</p>
<mat-form-field appearance="fill">
  <input matInput placeholder="Total Cost" [(ngModel)]="machine.totalCost">
</mat-form-field>


<div>
  <button mat-raised-button class="btn-add-machine" (click)="addMachine()">Add</button>
  <button mat-raised-button color="warn" class="btn-cancel-machine" (click)="dialogRef.close()">Cancel</button>
</div>

</div>
