<h2>Edit Document</h2>

<mat-form-field>
  <input matInput placeholder="DocumentEntity name" [(ngModel)]="document.name">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Description" [(ngModel)]="document.description">
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Created At" [(ngModel)]="document.createdAt">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div>
  <button mat-raised-button color="primary" (click)="updateDocument()">Save</button>
  <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
</div>
