<mat-card class="project-card">
    <mat-card-header>
        <div mat-card-avatar class="project-image" [style.background-image]="'url(' + project.urlImage + ')'"></div>
        <mat-card-title (click)="onTitleClick()">{{ project.name }}</mat-card-title>
        <mat-card-subtitle>{{ project.location }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="project.urlImage" alt="Photo of the project">
    <mat-card-content>
        <p>{{ project.description }}</p>
    </mat-card-content>
    <mat-card-actions class="action-buttons">
        <div class="button-wrapper">
            <button mat-button class="edit-button" (click)="onEdit($event)">EDIT</button>
        </div>
        <div class="button-wrapper">
            <button mat-button class="delete-button" (click)="onDelete($event)">DELETE</button>
        </div>
    </mat-card-actions>
</mat-card>