
<div class="edit-dialog-worker">
    <div mat-dialog-content>
        <h2>Edit worker</h2>

        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Worker name" [(ngModel)]="worker.fullName">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <mat-select placeholder="Team" [(ngModel)]="selectedTeam">
                    <mat-option *ngFor="let team of teams" [value]="team.id">
                        {{ team.teamName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Role" [(ngModel)]="worker.role">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput placeholder="Hours worked" [(ngModel)]="worker.hoursWorked">
            </mat-form-field>
        </div>

        <div class="btn-container-worker">
            <button mat-raised-button  class="btn-add-worker" (click)="updateWorker()">Save</button>
            <button mat-raised-button color="warn" class="btn-cancel-worker" (click)="dialogRef.close()">Cancel</button>
        </div>
    </div>
</div>

