<h1> Edit machine's data </h1>

<h1> Add new machine </h1>

<mat-form-field>
  <input matInput placeholder="Machine name" [(ngModel)]="machine.machineName">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Description" [(ngModel)]="machine.description">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Reception Date" [(ngModel)]="machine.receptionDate">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="End Date" [(ngModel)]="machine.endDate">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Total Cost" [(ngModel)]="machine.totalCost">
</mat-form-field>

<div>
  <button mat-raised-button color="primary" (click)="updateMachine()">Update</button>
  <button mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
</div>
