.paginator-mat {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-container-mat {
    background-color: #B79A72;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-add-mat {
    border-radius: 5px !important;
    color: white !important;
    background-color: #FBC12E !important;
    padding: 5px 10px !important;
    margin: 0 10px 0 10px !important;
    cursor: pointer !important;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    justify-content: center !important;
}

h1 {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    margin: 0 0 20px 0;
}