<mat-sidenav-container class="sidenav-container" *ngIf="selectedProject">
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen">

        <mat-toolbar>
            <mat-toolbar-row>
                <h1>Project Name</h1>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-divider></mat-divider>
        <mat-nav-list>
            <mat-list-item>
                <a mat-list-item routerLink="/inventory">
                    <mat-icon mat-list-icon>build</mat-icon>Resource Management
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item routerLink="/collaboration">
                    <mat-icon mat-list-icon>forum</mat-icon>Communication and Collaboration
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item routerLink="/documents">
                    <mat-icon mat-list-icon>file_copy</mat-icon>Documents
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item routerLink="/support">
                    <mat-icon mat-list-icon>help</mat-icon>Support & Help
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item routerLink="/projects">
                    <mat-icon mat-list-icon>settings</mat-icon>Projects
                </a>
            </mat-list-item>
        </mat-nav-list>

        <mat-divider></mat-divider>
        <div class="user-profile">
            <img src="./assets/images/BuildSphereLogo.png" alt="User Profile Picture" class="profile-picture">
            <span class="username">ConstruTech</span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>