/* General styles for the sidenav container */
.sidenav-container {
  height: 100vh; /* Height of the viewport */
  background-color: white; /* Background color of the sidenav */
  display: flex; /* Set the container to flexbox layout */
  flex-direction: column; /* Arrange items vertically in a column */
}

/* Styles for the sidenav panel */
.mat-sidenav {
  background-color: #FBC12E; /* Background color of the sidenav */
  width: 350px; /* Width of the sidenav */
  border-right: 2px solid #ddd; /* Add a border to the right side */
}

/* Styles for the toolbar */
.mat-toolbar {
  background-color: #FBC12E; /* Background color of the toolbar */
  color: white; /* Text color for toolbar content */
  height: auto; /* Height of the toolbar */
}

.mat-toolbar-row {
  height: auto; /* Height of the toolbar row */
  margin: 10px 0 0 0;
}

/* Styles for the logo text */
.logo {
  width: 260px;
  height: 80px;
}

/* Styles for the search bar */
.search-bar {
  width: 100%;
  margin-left: 16px;
}

/* Styles for the search icon */
.mat-icon {
  color: white; /* Set the icon color to white */
  margin-right: 10px;
}

/* Styles for the navigation list */
.mat-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Styles for the username */
.username {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

/* Styles for the user profile section */
.user-profile {
  margin-top: auto; /* Push the user profile to the bottom */
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background-color: #FBC12E; /* Background color for user profile section */
}

/* Styles for the profile picture */
.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Make it circular */
  margin-right: 12px;
}

.mat-sidenav-content {
  background-color: #fff; /* White background for main content */
  padding: 16px; /* Padding for main content */
}
