/* General styles for the sidenav container */
.sidenav-container {
  height: 100%; /* Height of the viewport */
  background-color: white; /* Background color of the sidenav */
}

/* Styles for the sidenav panel */
.mat-sidenav {
  background-color: #FBC12E; /* Background color of the sidenav */
  width: 350px; /* Width of the sidenav */
  border-right: 2px solid #ddd; /* Add a border to the right side */
}

/* Styles for the toolbar */
.mat-toolbar {
  background-color: #FBC12E; /* Background color of the toolbar */
  color: white; /* Text color for toolbar content */
  height: auto; /* Height of the toolbar */
}

.mat-toolbar-row {
  height: auto; /* Height of the toolbar row */
  margin: 10px 0 0 0;
}

.mat-toolbar-row .mat-icon {
  color: black; /* Set the icon color to white */
}

/* Styles for the logo text */
.logo {
  width: 260px;
  height: 80px;
}

/* Styles for the search bar */
.search-bar {
  width: 100%;
  margin-left: 16px;
}

/* Styles for the search icon */
.mat-icon {
  color: white; /* Set the icon color to white */
  margin-right: 10px;
}



