/* Estilo para hacer la tabla responsive */
.mat-table {
  overflow-x: auto;
}

/* Estilo para separar la tabla de los bordes de la ventana */
.mat-table-container {
  margin: 100px; /* Puedes ajustar este valor según sea necesario */
}

/* Estilo para los botones de acciones */
.actions-button {
  margin-top: 20px; /* Ajusta este valor según sea necesario */
}