

<h2>Task Project</h2>

<mat-table [dataSource]="tasks">

  <ng-container matColumnDef="taskName">
    <mat-header-cell *matHeaderCellDef> Nombre de la Tarea </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.taskName }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="taskDescription">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.taskDescription }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.startDate }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="maxEndDate">
    <mat-header-cell *matHeaderCellDef> Max end date </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.maxEndDate }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="completion">
    <mat-header-cell *matHeaderCellDef> Completion Percentage </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.completionPercentage }} % </mat-cell>
  </ng-container>
  <!-- Columna de acciones -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let task">
      <button mat-icon-button (click)="openEditDialog(task.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeleteDialog(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['taskName', 'taskDescription', 'startDate', 'maxEndDate', 'completion','actions']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['taskName', 'taskDescription', 'startDate', 'maxEndDate', 'completion','actions'];"></mat-row>
</mat-table>

<div>
  <!-- Botones de acciones -->
  <button mat-raised-button color="primary" (click)="openAddDialog()">Agregar Tarea</button>
</div>
