<h2>Add new team</h2>

<mat-form-field>
  <input matInput placeholder="Team name" [(ngModel)]="team.teamName">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Team Description" [(ngModel)]="team.description">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Team assigned tasks" [(ngModel)]="team.assignedTasks">
</mat-form-field>

<div>
  <button mat-raised-button color="primary" (click)="addTeam()">Add</button>
  <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
</div>
